#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        bindings = <
                                &kp W
                                &kp A
                                &kp S
                                &kp D
                                &kp SPACE
                                &kp F
                                &kp E
                                &kp UP
                                &kp DOWN
                                &kp R
                                &kp LALT
                                &mo TAB
                        >;
                };

                layer1 {
                        bindings = <
                                &trans
                                &bt BT_CLEAR_BONDS
                                &bt BT_NEW_ADV
                                &trans
                                &trans
                                &trans
                                &trans
                                &trans
                                &trans
                                &trans
                                &trans
                                &trans
                        >;
                };
        };
};
