#include <dt-bindings/gpio/gpio.h>

/ {
	chosen {
		zmk,kscan = &kscan_gpio;
	};

	kscan_gpio: kscan_gpio_keys {
		compatible = "zmk,kscan-gpio-keys";
		debounce-press-ms = <15>;
		debounce-release-ms = <15>;

		keys {
			/* W  P0.17 */
			key0 { gpios = <&gpio0 17 GPIO_ACTIVE_LOW GPIO_PULL_UP>; };
			/* A  P0.20 */
			key1 { gpios = <&gpio0 20 GPIO_ACTIVE_LOW GPIO_PULL_UP>; };
			/* S  P0.22 */
			key2 { gpios = <&gpio0 22 GPIO_ACTIVE_LOW GPIO_PULL_UP>; };
			/* D  P0.24 */
			key3 { gpios = <&gpio0 24 GPIO_ACTIVE_LOW GPIO_PULL_UP>; };
			/* SPACE P0.09 */
			key4 { gpios = <&gpio0  9 GPIO_ACTIVE_LOW GPIO_PULL_UP>; };
			/* F  P1.04 */
			key5 { gpios = <&gpio1  4 GPIO_ACTIVE_LOW GPIO_PULL_UP>; };
			/* E  P0.10 */
			key6 { gpios = <&gpio0 10 GPIO_ACTIVE_LOW GPIO_PULL_UP>; };
			/* UP P0.11 */
			key7 { gpios = <&gpio0 11 GPIO_ACTIVE_LOW GPIO_PULL_UP>; };
			/* DOWN P1.11 */
			key8 { gpios = <&gpio1 11 GPIO_ACTIVE_LOW GPIO_PULL_UP>; };
			/* R  P1.00 */
			key9 { gpios = <&gpio1  0 GPIO_ACTIVE_LOW GPIO_PULL_UP>; };
			/* ALT P1.06 */
			key10{ gpios = <&gpio1  6 GPIO_ACTIVE_LOW GPIO_PULL_UP>; };
			/* TAB P1.13 */
			key11{ gpios = <&gpio1 13 GPIO_ACTIVE_LOW GPIO_PULL_UP>; };
		};
	};
};
