#include <dt-bindings/gpio/gpio.h>

/ {
	chosen {
		zmk,kscan = &kscan_gpio;
	};

	kscan_gpio: kscan_gpio_keys {
		compatible = "zmk,kscan-gpio-keys";
		debounce-press-ms = <15>;
		debounce-release-ms = <15>;

		keys {
			key0 { gpios = <&gpio0 17 GPIO_ACTIVE_LOW GPIO_PULL_UP>; };
			key1 { gpios = <&gpio0 20 GPIO_ACTIVE_LOW GPIO_PULL_UP>; };
			key2 { gpios = <&gpio0 22 GPIO_ACTIVE_LOW GPIO_PULL_UP>; };
			key3 { gpios = <&gpio0 24 GPIO_ACTIVE_LOW GPIO_PULL_UP>; };
			key4 { gpios = <&gpio0  9 GPIO_ACTIVE_LOW GPIO_PULL_UP>; };
			key5 { gpios = <&gpio1  4 GPIO_ACTIVE_LOW GPIO_PULL_UP>; };
			key6 { gpios = <&gpio0 10 GPIO_ACTIVE_LOW GPIO_PULL_UP>; };
			key7 { gpios = <&gpio0 11 GPIO_ACTIVE_LOW GPIO_PULL_UP>; };
			key8 { gpios = <&gpio1 11 GPIO_ACTIVE_LOW GPIO_PULL_UP>; };
			key9 { gpios = <&gpio1  0 GPIO_ACTIVE_LOW GPIO_PULL_UP>; };
			key10{ gpios = <&gpio1  6 GPIO_ACTIVE_LOW GPIO_PULL_UP>; };
			key11{ gpios = <&gpio1 13 GPIO_ACTIVE_LOW GPIO_PULL_UP>; };
		};
	};
};
