/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
// 行0
            bindings = <
                &kp W    &kp A      &kp S      &kp D
// 行1
                &kp SPACE      &kp F      &kp E      &kp UP
// 行2
                &kp DOWN      &kp R      &kp LALT      &kp TAB
            >;
        };
    };
};
