/dts-v1/;
#include <zephyr/dt-bindings/gpio/gpio.h>
#include <dt-bindings/zmk/gpio.h>
#include <dt-bindings/zmk/keys.h>

/ {
    compatible = "zmk,shield-gamepad";
    model = "Gamepad 12key Controller";

    gpio_keys {
        compatible = "zmk,gpio-keys";
        status = "okay";

        /* 格式：label = "按键名"; gpios = <&gpioX 引脚号 GPIO_PULL_UP>; */
        key_w: key_w {
            label = "W";
            gpios = <&gpio0 17 GPIO_PULL_UP>;
            bindings = <&kp W>;
        };
        key_a: key_a {
            label = "A";
            gpios = <&gpio0 20 GPIO_PULL_UP>;
            bindings = <&kp A>;
        };
        key_s: key_s {
            label = "S";
            gpios = <&gpio0 22 GPIO_PULL_UP>;
            bindings = <&kp S>;
        };
        key_d: key_d {
            label = "D";
            gpios = <&gpio0 24 GPIO_PULL_UP>;
            bindings = <&kp D>;
        };
        key_space: key_space {
            label = "SPACE";
            gpios = <&gpio0 09 GPIO_PULL_UP>;
            bindings = <&kp SPACE>;
        };
        key_f: key_f {
            label = "F";
            gpios = <&gpio1 04 GPIO_PULL_UP>;
            bindings = <&kp F>;
        };
        key_e: key_e {
            label = "E";
            gpios = <&gpio0 10 GPIO_PULL_UP>;
            bindings = <&kp E>;
        };
        key_up: key_up {
            label = "UP";
            gpios = <&gpio0 11 GPIO_PULL_UP>;
            bindings = <&kp UP>;
        };
        key_down: key_down {
            label = "DOWN";
            gpios = <&gpio1 11 GPIO_PULL_UP>;
            bindings = <&kp DOWN>;
        };
        key_r: key_r {
            label = "R";
            gpios = <&gpio1 00 GPIO_PULL_UP>;
            bindings = <&kp R>;
        };
        key_alt: key_alt {
            label = "LEFT_ALT";
            gpios = <&gpio1 06 GPIO_PULL_UP>;
            bindings = <&kp LALT>;
        };
        key_tab: key_tab {
            label = "TAB";
            gpios = <&gpio1 13 GPIO_PULL_UP>;
            bindings = <&kp TAB>;
        };
    };
};

&usb_hid {
    status = "okay";
};

&ble {
    status = "okay";
};
