/ {
    aliases {
        zmk,bootloader = &sw0;
    };

    macros {
        macro_ble_pair: macro_ble_pair {
            compatible = "zmk,macro";
            bindings = <
                &kp TAB
                &kp W
                &kp S
            >;
        };
        macro_ble_clear: macro_ble_clear {
            compatible = "zmk,macro";
            bindings = <
                &kp TAB
                &kp A
                &kp D
            >;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        label = "12KeyGamePad";

        key_w {
            gpios = <&gpio0 17 GPIO_PULL_UP>;
            bind = <&kp W>;
        };
        key_a {
            gpios = <&gpio0 20 GPIO_PULL_UP>;
            bind = <&kp A>;
        };
        key_s {
            gpios = <&gpio0 22 GPIO_PULL_UP>;
            bind = <&kp S>;
        };
        key_d {
            gpios = <&gpio0 24 GPIO_PULL_UP>;
            bind = <&kp D>;
        };
        key_space {
            gpios = <&gpio0 09 GPIO_PULL_UP>;
            bind = <&kp SPACE>;
        };
        key_f {
            gpios = <&gpio1 04 GPIO_PULL_UP>;
            bind = <&kp F>;
        };
        key_e {
            gpios = <&gpio0 10 GPIO_PULL_UP>;
            bind = <&kp E>;
        };
        key_up {
            gpios = <&gpio0 11 GPIO_PULL_UP>;
            bind = <&kp UP>;
        };
        key_down {
            gpios = <&gpio1 11 GPIO_PULL_UP>;
            bind = <&kp DOWN>;
        };
        key_r {
            gpios = <&gpio1 00 GPIO_PULL_UP>;
            bind = <&kp R>;
        };
        key_alt {
            gpios = <&gpio1 06 GPIO_PULL_UP>;
            bind = <&kp LALT>;
        };
        key_tab {
            gpios = <&gpio1 13 GPIO_PULL_UP>;
            bind = <&kp TAB>;
        };
    };

    combos {
        compatible = "zmk,combos";

        combo_ble_pair {
            timeout-ms = 200;
            keys = <&kp TAB &kp W &kp S>;
            bindings = <&bt BT_CLEAR_BONDS &bt BT_NEW_BOND>;
        };

        combo_ble_clear {
            timeout-ms = 200;
            keys = <&kp TAB &kp A &kp D>;
            bindings = <&bt BT_CLEAR_BONDS>;
        };
    };
};
