#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/zmk/keys.h>

/ {
    kscan_0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        status = "okay";

        row-gpios =
            <&gpio0 28 GPIO_ACTIVE_HIGH>,
            <&gpio0 29 GPIO_ACTIVE_HIGH>,
            <&gpio0 30 GPIO_ACTIVE_HIGH>,
            <&gpio0 31 GPIO_ACTIVE_HIGH>;

        col-gpios =
            <&gpio0 2 GPIO_ACTIVE_LOW>,
            <&gpio0 3 GPIO_ACTIVE_LOW>,
            <&gpio0 4 GPIO_ACTIVE_LOW>,
            <&gpio0 5 GPIO_ACTIVE_LOW>;

        debounce-press-ms = <5>;
        debounce-release-ms = <5>;
    };

    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
&kp ALT,  &kp W,    &kp A,    &kp S,
&kp LEFT, &kp D,    &kp TAB,  &kp E,
&kp SPACE,&kp UP,   &kp R,    &kp DOWN,
&kp RIGHT,&kp F,    &trans,   &trans
            >;
        };
    };
};

&zmk_keyboard {
    kscan = <&kscan_0>;
};
