/ {
    kscan_0: kscan {
        compatible = "zmk,kscan-matrix";
        row-gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>,
                    <&gpio0 3 GPIO_ACTIVE_HIGH>,
                    <&gpio0 4 GPIO_ACTIVE_HIGH>,
                    <&gpio0 5 GPIO_ACTIVE_HIGH>;
        col-gpios = <&gpio0 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,
                    <&gpio0 7 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,
                    <&gpio0 8 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,
                    <&gpio0 9 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
        debounce-period = <5>;
    };

    matrix_transform: matrix-transform {
        compatible = "zmk,matrix-transform";
        kscan = <&kscan_0>;
        rows = <4>;
        columns = <4>;
        map = <
            0 1 2 3
            4 5 6 7
            8 9 10 11
            12 13 0 0
        >;
    };

    physical_layout {
        compatible = "zmk,physical-layout";
        layout = <
            0 1 2 3
            4 5 6 7
            8 9 10 11
            12 13
        >;
    };
};
