#include <dt-bindings/zmk/keys.h>
#include <behaviors.dtsi>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp W     &kp A     &kp S     &kp D
                &kp SPACE &kp F     &kp E     &kp DOWN
                &kp UP    &kp R     &kp LALT  &kp TAB
            >;
        };

        // 可选：FN层（以后扩展）
        fn_layer {
            bindings = <
                &kp N1    &kp N2    &kp N3    &kp N4
                &kp N5    &kp N6    &kp N7    &kp N8
                &kp N9    &kp N0    &kp MINUS &kp EQUAL
            >;
        };
    };
};
